[project]
name = "rag-api"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "lightrag-hku>=1.4.9.3",
    "raganything[all]>=1.2.8",
]
